.search-term-label
  font-size: 16px
  font-weight: bold
input[type="text"]
  width: 100%
  margin: 2px 0
  border: 2px solid black
  height: 40px
  vertical-align: bottom
  font-size: 24px
  font-family: dejarip, sans-serif
button
  width: 100%
  font-family: dejarip, sans-serif
  font-size: 24px
  border-radius: 5px
  padding: 7px
  margin: 2px 10px
  border: 2px solid black
  vertical-align: bottom
  background-color: #ffffff; // Old browsers
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 50%,#f2f2f2 51%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#f2f2f2 51%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

@media screen and (max-width: 600px)
  button
    margin: 4px 2px
  .search-term-label
    margin: 4px 0
    font-size: 24px
    font-weight: normal
